{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard MQTT - Monitoramento Hospitalar</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'table.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    </head>
    <body>
        <div class="container">
            <header>
                <h1><i class="fas fa-hospital"></i> Dashboard de Monitoramento Hospitalar</h1>
                <h2>Bem-vindo, {{ request.user.username }}</h2>
                <a class="btn refresh-btn" href="{% url 'logout' %}">Sair</a>
            <div class="refresh-container">
        </div>
        </header>
        <main>
            <table>
                <tr>
                    <th>Hospital</th>
                    <th>P. Central</th>
                    <th>P. Rede</th>
                    <th>Ponto de Orvalho</th>
                    <th>Pureza</th>
                    <th>Pressão Produto</th>
                    <th>Compressor 1</th>
                    <th>Compressor 2</th>
                    <th>B. Emergência</th>
                    <th>Falta de Fase</th>
                </tr>
                {% for data in hospitals %}
                <tr>
                    <td data-label="Hospital">{{ data.hospital }}</td>
                    <td data-label="P. Central">{{ data.pressure }}</td>
                    <td data-label="P. Rede">{{ data.rede }}</td>
                    <td data-label="Ponto de Orvalho">{{ data.dew_point }}</td>
                    <td data-label="Pureza">{{ data.purity }}</td>
                    <td data-label="Pressão Produto">{{ data.product_pressure }}</td>
                    <td data-label="Compressor 1">{{ data.C1 }}</td>
                    <td data-label="Compressor 2">{{ data.C2 }}</td>
                    <td data-label="B. Emergência">{{ data.BE }}</td>
                    <td data-label="Falta de Fase">{{ data.RST }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum usuário encontrado.</td>
                </tr>
                {% endfor %}
            </table>
        </main>
    </div> 

    <footer>
        <p>&copy; 2025 OmniSistems Monitoramento</p>
    </footer>
    <script>
    setInterval(function() {
        location.reload();
    }, 5000);

    document.getElementById("refresh-btn").addEventListener("click", function() {
        location.reload();
    });
</script>

</body>
</html>