{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/gauge_container.css' %}">
        <link rel="stylesheet" href="{% static 'css/hospital_card.css' %}">
        <link rel="stylesheet" href="{% static 'css/status_cards.css' %}">
        <link rel="stylesheet" href="{% static 'css/btn.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsividade.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        {% block extra_style %}{% endblock extra_style %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        <div class="container">
            <header>
                <h1><i class="fas fa-hospital"></i> {% block header_title %}{% endblock header_title %}</h1>
                <h2>Bem-vindo, {{ request.user.username }}</h2>
                <a class="btn refresh-btn" href="{% url 'logout' %}">Sair</a>
            </header>

            
            {% block content %}
            
            {% endblock content %}
        
        </div>
        
        <footer>
            <p>&copy; 2025 OmniSistems Monitoramento</p>
        </footer>
        
        
        {% block extra_script %} {% endblock extra_script %}
    </body>
</html>