{% extends "base.html" %}


    {% block title %} Dashboard MQTT - Monitoramento Hospitalar {% endblock title %}
    
    {% block header_title %} Dashboard de Monitoramento Hospitalar {% endblock header_title %}

    {% block content %}
        <main>
            <section class="dashboard-grid">
                <!-- Card do Hospital -->
                <div class="hospital-card main-info-card">
                    <h2 id="hospital-name"><i class="fas fa-building-circle-check"></i> {{ hospital }}</h2>
                    <div class="hospital-details">
                        <div class="status-icon">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        {% if hospital_details.auto %}
                        <div class="mode-badge" id="mode-badge">{{ hospital_details.auto }}</div>
                        {% endif %}
                    </div>
                </div>

         
                <div class="gauge-container">

                    {% if hospital_details.purity %}
                        <div class="gauge-card">
                            <h3><i class="fas fa-compress-alt"></i> Concentração</h3>
                            <canvas id="purity-gauge" width="250" height="250"></canvas>
                            <div class="gauge-label">%</div>
                        </div>
                    {% endif %}
                
                    {% if hospital_details.product_pressure %}
                        <div class="gauge-card">
                            <h3><i class="fas fa-compress-alt"></i> Pressão do Produto</h3>
                            <canvas id="product-gauge" width="250" height="250"></canvas>
                            <div class="gauge-label">Bar</div>
                        </div>
                    {% endif %}

                    {% if hospital_details.rede %}
                    <div class="gauge-card">
                        <h3><i class="fa fa-life-ring"></i> Pressão da Rede</h3>
                        <canvas id="rede-gauge" width="250" height="250"></canvas>
                        <div class="gauge-label">Bar</div>
                    </div>
                    {% endif %}

                    {% if hospital_details.pressure %}
                    <div class="gauge-card">
                        <h3><i class="fas fa-compress-alt"></i> Pressão da Central</h3>
                        <canvas id="pressure-gauge" width="250" height="250"></canvas>
                        <div class="gauge-label">Bar</div>
                    </div>
                    {% endif %}

                    {% if hospital_details.dew_point %}
                    <div class="gauge-card">
                        <h3><i class="fas fa-tint"></i> Ponto de Orvalho</h3>
                        <canvas id="dew-gauge" width="250" height="250"></canvas>
                        <div class="gauge-label">°C</div>
                    </div>
                    {% endif %}

                    {% if hospital_details.vacuo %}
                    <div class="gauge-card">
                        <h3><i class="fas fa-wind"></i> Vácuo</h3>
                        <canvas id="vacuo-gauge" width="250" height="250"></canvas>
                        <div class="gauge-label">mmHg</div>
                    </div>
                    {% endif %}
                </div>
            </section>

            <aside class="status-sidebar">
                <h3><i class="fas fa-list-check"></i> Status do Sistema</h3>
                
                {% if hospital_details.C1 %}
                <div class="card">
                    <h3><i class="fas fa-plug"></i> Compressor 1</h3>
                    <div class="status" id="c1-status">
                        <span class="status-text">{{ hospital_details.C1 }}</span>
                    </div>
                </div>
                {% endif %}

                {% if hospital_details.C2 %}
                <div class="card">
                    <h3><i class="fas fa-plug"></i> Compressor 2</h3>
                    <div class="status" id="c2-status">
                        <span class="status-text">{{ hospital_details.C2 }}</span>
                    </div>
                </div>
                {% endif %}

                {% if hospital_details.BE %}
                <div class="card">
                    <h3><i class="fas fa-bolt"></i> Botão de Emergência</h3>
                    <div class="status" id="be-status">
                        <span class="status-text">{{ hospital_details.BE }}</span>
                    </div>
                </div>
                {% endif %}

                {% if hospital_details.RST %}
                <div class="card">
                    <h3><i class="fas fa-redo"></i> Falta de Fase</h3>
                    <div class="status" id="rst-status">
                        <span class="status-text">{{ hospital_details.RST }}</span>
                    </div>
                </div>
                {% endif %}
            </aside> 
        </main>

    {% endblock content %}    
